<a href="https://colab.research.google.com/github/ThulasiGopinath/SCT_SD_4/blob/main/webscrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import requests

In [15]:
from bs4 import BeautifulSoup

In [30]:
import pandas as pd

In [33]:
books = []
for i in range (1,5):
  url = "https://books.toscrape.com/catalogue/page-3.html"
  response = requests.get(url)
  response = response.content
  soup = BeautifulSoup(response, 'html.parser')
  ol = soup.find('ol')
  articles = ol.find_all('article', class_='product_pod')

  for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    star = article.find('p')
    star = star['class'][1]
    price = article.find('p', class_='price_color').text
    price = float(price[1:])
    books.append([title, price, star])
    print(price)

57.31
26.41
47.61
23.11
45.07
31.77
50.27
14.27
44.18
18.78
25.52
16.28
31.12
19.49
17.27
19.09
56.13
56.41
56.5
45.22
57.31
26.41
47.61
23.11
45.07
31.77
50.27
14.27
44.18
18.78
25.52
16.28
31.12
19.49
17.27
19.09
56.13
56.41
56.5
45.22
57.31
26.41
47.61
23.11
45.07
31.77
50.27
14.27
44.18
18.78
25.52
16.28
31.12
19.49
17.27
19.09
56.13
56.41
56.5
45.22
57.31
26.41
47.61
23.11
45.07
31.77
50.27
14.27
44.18
18.78
25.52
16.28
31.12
19.49
17.27
19.09
56.13
56.41
56.5
45.22

In [34]:
df = pd.DataFrame(books, columns=['Ttile', 'Price', 'Star Rating'] )

In [35]:
df.to_csv('books.csv')